# ignore all logs
*.log
*.stderr*
*.stdout*
data/
GFDL-ESM4/
IPSL-CM6A-LR/
MPI-ESM1-2-HR/
MRI-ESM2-0/
UKESM1-0-LL/
Step_01_Downloading_ATM_forcing_*.m
Step_01_Downloading_ATM_forcing_cori_*.csh
Step_01_Downloading_ATM_forcing_*.csh
